@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  background: #3399FF;
  color: #003366;
  height: 100vh;
  text-align: center;
}